Analyzer/ST434/schemas/dataTypes/st377_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- -->
<!-- This XML Schema document is an integral part of the of the SMPTE Standard ST 434:2014: "Material Exchange Format - XML Encoding for Metadata and File Structure Information". -->
<!-- Copyright SMPTE 2006, 2014. -->
<!-- - -->
<!-- - -->	
<xs:schema xmlns="http://www.smpte-ra.org/schemas/434/2014/types/377-1/2012" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.smpte-ra.org/schemas/434/2014/types/377-1/2012" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:st377Types="http://www.smpte-ra.org/schemas/434/2014/types/377-1/2012">
	<!-- - -->
	<!-- - -->
	<!-- ############################## -->
	<!-- ###### SIMPLE DATA TYPES ###### -->
	<!-- ############################## -->
	<!-- - -->
	<!-- - -->
	<xs:simpleType name="Boolean">
		<xs:annotation>
			<xs:documentation>1-byte value with the logical values: zero == FALSE, non-zero == TRUE. Note for compatibility with older AAF SDK implementations, it is recommended that MXF file writers write the value 01h for TRUE values</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Boolean</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<!-- -->
	<xs:simpleType name="Float">
		<xs:annotation>
			<xs:documentation>IEEE 754 floating point number</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Floating Point</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="Int8">
		<xs:annotation>
			<xs:documentation>Signed 8 bit integer</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Int8</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:byte"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="Int16">
		<xs:annotation>
			<xs:documentation>Signed 16 bit integer</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Int16</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:short"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="Int32">
		<xs:annotation>
			<xs:documentation>Signed 32 bit integer</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Int32</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="Int64">
		<xs:annotation>
			<xs:documentation>Signed 64 bit integer</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Int64</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="Length">
		<xs:annotation>
			<xs:documentation>The Int64 value of the length (duration) measured in Edit Units of a piece of essence such as a SourceClip. Negative values are reserved for indicating Distinguished values and shall not be used to indicate valid lengths.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Length</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st377Types:Int64"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="Position">
		<xs:annotation>
			<xs:documentation>The Int64 value used to locate a specific point along a track. All Position values are the count of edit units relative to the Origin of the track to which they relate. Since Position is a relative value, negative values may occur.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Position</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st377Types:Int64"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="UInt8">
		<xs:annotation>
			<xs:documentation>Unsigned 8 bit integer</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">UInt8</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="UInt16">
		<xs:annotation>
			<xs:documentation>Unsigned 16 bit integer</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">UInt16</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="UInt32">
		<xs:annotation>
			<xs:documentation>Unsigned 32 bit integer</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">UInt32</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="UInt64">
		<xs:annotation>
			<xs:documentation>Unsigned 64 bit integer</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">UInt64</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedLong"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="UID">
		<xs:annotation>
			<xs:documentation>Unique Identifier - a generic term which may be a UL, UUID, AUID, IDAU or UMID.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">UID</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="LocalTag">
		<xs:annotation>
			<xs:documentation>Local tag value used to identify elements in a local set. The tag byte-order is big-endian.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Local Tag</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="0x([0-9A-Fa-f]){4}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="UL">
		<xs:annotation>
			<xs:documentation>Universal Label (SMPTE ST 298) in SMPTE ST 2029 representation.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">UL</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st377Types:UID">
			<xs:pattern value="urn:smpte:ul:([0-9A-Fa-f]){8}(\.([0-9A-Fa-f]){8}){0,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="UMID32">
		<xs:annotation>
			<xs:documentation>32 byte Universal Material ID (SMPTE ST 330) in SMPTE ST 2029 representation.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">UMID</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st377Types:UID">
			<xs:pattern value="urn:smpte:umid:([0-9A-Fa-f]){8}(\.([0-9A-Fa-f]){8}){7}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="UMID64">
		<xs:annotation>
			<xs:documentation>64 byte Universal Material ID (SMPTE ST 330) in SMPTE ST 2029 representation.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Extended UMID</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st377Types:UID">
			<xs:pattern value="urn:smpte:umid:([0-9A-Fa-f]){8}(\.([0-9A-Fa-f]){8}){15}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="UUID">
		<xs:annotation>
			<xs:documentation>Universally Unique Identifier according to ISO 11578 in RFC 4122 notation (prefixing urn:uuid : to the ISO 11578 Annex A notation).</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">UUID</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st377Types:UID">
			<xs:pattern value="urn:uuid:([0-9A-Fa-f]){8}-([0-9A-Fa-f]){4}-([0-9A-Fa-f]){4}-([0-9A-Fa-f]){4}-([0-9A-Fa-f]){12}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="AUID">
		<xs:annotation>
			<xs:documentation>A 16 byte Universally Unique Identifier that shall contain a UL or a UUID. If the value is a UUID, it shall be stored such that the top and bottom 8 bytes of the UUID are swapped.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">AUID</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st377Types:UID">
			<xs:pattern value="urn:uuid:([0-9A-Fa-f]){8}-([0-9A-Fa-f]){4}-([0-9A-Fa-f]){4}-([0-9A-Fa-f]){4}-([0-9A-Fa-f]){12}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="IDAU">
		<xs:annotation>
			<xs:documentation>A 16 byte Universally Unique Identifier that shall contain a UUID or a UL. If the value is a UL, the upper and lower 8 bytes shall be exchanged.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">UUID</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st377Types:UID">
			<xs:pattern value="urn:uuid:([0-9A-Fa-f]){8}-([0-9A-Fa-f]){4}-([0-9A-Fa-f]){4}-([0-9A-Fa-f]){4}-([0-9A-Fa-f]){12}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="KLVKey">
		<xs:annotation>
			<xs:documentation>The key of a KLV Group as a UL  in RFC 3061 representation.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Metadata Set Key</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st377Types:UID">
			<xs:pattern value="urn:smpte:ul:060(E|e)2(B|b)34\.02([0-9A-Fa-f]){6}(\.([0-9A-Fa-f]){8}){2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="VersionType">
		<xs:annotation>
			<xs:documentation>a Uint16 version number (informative note: the number is created from major and minor version numbers using major*256 + minor)</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Version Type</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st377Types:UInt16"/>
	</xs:simpleType>
	<!-- - -->
	<!-- - -->
	<!-- ################################## -->
	<!-- ###### COMPOUND DATA TYPES ###### -->
	<!-- ################################## -->
	<!-- - -->
	<!-- - -->
	<xs:complexType name="Collection" abstract="true">
		<xs:annotation>
			<xs:documentation>Base class for arrays and Batches</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Collection</xs:appinfo>
		</xs:annotation>
	</xs:complexType>
	<!-- -->
	<!-- -->
	<xs:complexType name="Array" abstract="true">
		<xs:annotation>
			<xs:documentation>A compound type comprising multiple individual elements. The elements are ordered, the type is defined, the count of items is explicit and the size of each item is fixed.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Array</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="st377Types:Collection"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<!-- -->
	<xs:complexType name="Batch" abstract="true">
		<xs:annotation>
			<xs:documentation>A compound type comprising multiple individual elements. The elements are unordered, the type is defined, the count of items is explicit and the size of each item is fixed.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Batch</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="st377Types:Collection"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="DataStream">
		<xs:annotation>
			<xs:documentation>A string of data or metadata elements. The type of data or metadata element and the length of the string is defined elsewhere.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">DataStream</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:hexBinary"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="DataValue">
		<xs:annotation>
			<xs:documentation>An array of color values that are used to specify an image. Size specified by parsing the PaletteLayout property.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">DataValue</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:hexBinary"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:complexType name="EditRate">
		<xs:annotation>
			<xs:documentation>Rational Number used to specify the rate of edit boundaries per second.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Edit Rate</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="st377Types:Rational"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<!-- -->
	<xs:complexType name="Rational">
		<xs:annotation>
			<xs:documentation>A pair of Int32 values where the first is the numerator and the second is the denominator (e.g. for an aspect ratio of 4:3, the number would appear as 00.00.00.04.00.00.00.03 in hexadecimal format).</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Rational</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Numerator" type="Int32"/>
			<xs:element name="Denominator" type="Int32"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="ISO7bitCharString">
		<xs:annotation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">ISO 7-bit char string</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="ISO8BitCharString">
		<xs:annotation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">ISO 8-bit char string</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="UTF8CharString">
		<xs:annotation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">UTF-16 char string</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="UTF16CharString">
		<xs:annotation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">UTF-16 char string</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:complexType name="TimestampType">
		<xs:annotation>
			<xs:documentation>A time and date item according to the Gregorian calendar comprising, in order, Year: [Int16], Month: [UInt8], Day: [UInt8], Hour: [UInt8], Minute: [UInt8], Second: [UInt8] and mSec/4: [UInt8]. A value of '0' for each and every field identifies a timestamp value of 'unknown'. This value should not be used unless unavoidable.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Timestamp</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Year">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Month">
				<xs:simpleType>
					<xs:restriction base="st377Types:UInt8">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Day">
				<xs:simpleType>
					<xs:restriction base="st377Types:UInt8">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Hour">
				<xs:simpleType>
					<xs:restriction base="st377Types:UInt8">
						<xs:maxInclusive value="23"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Minute">
				<xs:simpleType>
					<xs:restriction base="st377Types:UInt8">
						<xs:maxInclusive value="59"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Second">
				<xs:simpleType>
					<xs:restriction base="st377Types:UInt8">
						<xs:maxInclusive value="59"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mSec4">
				<xs:simpleType>
					<xs:restriction base="st377Types:UInt8">
						<xs:maxInclusive value="249"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<!-- -->
	<xs:complexType name="ProductVersionType">
		<xs:annotation>
			<xs:documentation>Comprises 5 values of UInt16 indicating - Major, Minor, Patch, Build and Release version numbers. These describe version of the tool that created or modified the file. The specific use of the first four values shall be defined by the tool. The 'Release' number is enumerated as follows: 0 = Unknown version, 1 = Released version, 2 = Development version, 3 = Released version with patches, 4 = Pre-release beta version, 5 = Private version not intended for general release.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Product Version</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Major" type="UInt16"/>
			<xs:element name="Minor" type="UInt16"/>
			<xs:element name="Patch" type="UInt16"/>
			<xs:element name="Build" type="UInt16"/>
			<xs:element name="Release">
				<xs:simpleType>
					<xs:restriction base="st377Types:UInt16">
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation>Unknown version</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Released version</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Development version</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Released version with patches</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation>Pre-released beta version</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="5">
							<xs:annotation>
								<xs:documentation>Private version not intended for general release</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<!-- -->
	<!-- ######################################## -->
	<!-- ###### ESSENCE RELATED DATA TYPES ###### -->
	<!-- ######################################## -->
	<!-- - -->
	<!-- - -->
	<xs:complexType name="RGBAComponentType">
		<xs:annotation>
			<xs:documentation>For a component of an RGBA pixel, the value Codes enumerates the component and the calue Depth specifies the number of bits occupied the the component (as specified in SMPTE 377M-2003, Annex E.2.46).</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">RGBAComponentType</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="UInt8"/>
			<xs:element name="Depth" type="UInt8"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<!-- -->
	<xs:complexType name="RGBALayout">
		<xs:annotation>
			<xs:documentation>Specifies the type, order and size of the components within the pixel. The RGBALayout type is a fixed-size 8 element array, where each element consists of the RGBAComponent type.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">RGBALayout</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RGBAComponent" type="RGBAComponentType" minOccurs="8" maxOccurs="8"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="Orientation">
		<xs:annotation>
			<xs:documentation>Specifies the scanning direction of the image, according to the enumerated values defined in SMPTE 377M-2003 Annex E.2.25.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Orientation</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st377Types:UInt8"/>
	</xs:simpleType>
	<!-- -->
	<!-- -->
	<xs:simpleType name="SignalStandard">
		<xs:annotation>
			<xs:documentation>The signal standard enumerated value specifies the underlying signal standard used to define the raster as defined in SMPTE 377M, Annex E.2.3.</xs:documentation>
			<xs:appinfo source="http://www.smpte-ra.org/schemas/434/Types/TypeName">Signal Standard</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st377Types:UInt8"/>
	</xs:simpleType>
	<!-- - -->
	<!-- - -->
	<!-- ######################################## -->
	<!-- ###### REFERENCE MECHANISM ############# -->
	<!-- ######################################## -->
	<!-- - -->
	<!-- - -->
	<xs:attribute name="TargetInstance" type="st377Types:UUID"/>
	<!-- - -->
	<xs:complexType name="Ref">
		<xs:attribute ref="TargetInstance" use="required"/>
	</xs:complexType>
	<!-- -->
	<!-- -->
	<xs:complexType name="StrongRefHolder" abstract="true"/>
	<!-- -->
	<!-- -->
	<xs:complexType name="WeakRefHolder" abstract="true"/>
	<!-- -->
	<!-- -->
	<xs:complexType name="StrongRefArray" abstract="true"/>
	<!-- -->
	<!-- -->
	<xs:complexType name="StrongRefBatch" abstract="true"/>
	<!-- -->
	<!-- -->
	<xs:complexType name="StrongRefCollection" abstract="true"/>
	<!-- -->
	<!-- -->
	<xs:complexType name="WeakRefArray" abstract="true"/>
	<!-- -->
	<!-- -->
	<xs:complexType name="WeakRefBatch" abstract="true"/>
	<!-- -->
	<!-- -->
	<xs:complexType name="WeakRefCollection" abstract="true"/>
	<!-- - -->
	<!-- - -->
</xs:schema>